.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.form-content {
    width: 100%;
    max-width: 450px;
    background-color: #191A19;
    padding: 50px 60px 70px;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #ffffff;
    position: relative;
}

.form-content h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #1E5128;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    width: 100%;
    background-color: #515966;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.input-field i {
    margin-left: 15px;
    color: #1E5128;
}

form a {
    color: #1E5128;
    display: block;
    text-align: right;
    font-size: 0.9rem;
    margin-top: 8px;
}

.btn-field {
    display: flex;
    justify-content: space-between;
}
