.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.form-content {
  width: 100%;
  max-width: 450px;
  background-color: #191A19;
  padding: 50px 60px 70px;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
}

.input-field {
  width: 100%;
  background-color: #515966;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.input-field i {
  margin-left: 15px;
  color: #1E5128;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
  padding: 18px 15px;
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

form a {
  color: #1E5128;
  display: block;
  text-align: right;
  font-size: 0.9rem;
  margin-top: 8px;
}

.btn-field {
  display: flex;
  justify-content: space-between;
}

/* Tabs */
.form-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  transition: border 0.3s;
}

/* Ocultar ambas secciones por defecto */
.form-section {
  display: none;
}

/* Mostrar login por defecto */
#toggleForm:not(:checked) ~ .login-section {
  display: block;
}

/* Mostrar registro si está marcado */
#toggleForm:checked ~ .register-section {
  display: block;
}

/* Estilos activos */
#toggleForm:not(:checked) ~ .form-tabs .login-tab {
  border-color: #1E5128;
}

#toggleForm:checked ~ .form-tabs .register-tab {
  border-color: #1E5128;
}
