.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey  ;
}

.nav-logo{
   margin-left: 2rem;
}

.nav-ul ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin-right: 3rem;
    padding: 0;
}

.main{
display: flex;
justify-content: center;
}

